<html>
<body>
<link rel="stylesheet" href="footer.css">
<div id="footer" class="row" style="text-align: center">
  <div class="col-sm-9 box-cont">
  <center>
    <h2>Contact us</h2>
    <p>Dr. Vandana Nunia<br>
            Assistant Professor<br>
            Bioinformatics and Cancer Biology Laboratory<br>
            Department of Zoology<br>
            University of Rajasthan, Jaipur - 302004<br>
            Rajasthan INDIA<br>
            E-Mail: vandananunia@gmail.com</p>
    </center>
  </div>
 </div>
</body>
</html>
