<title>GreenDock | About Us</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="aboutusstyle.css">
<div class="info">

<h1>ABOUT US</h1>
<hr>
<h3>TEAM</h3>
<h5>Dr. Vandana Nunia</h5>
Assistant Professor,Department of Zoology, University of Rajasthan,
Rajasthan, Jaipur - 302004 INDIA; E-Mail: vandananunia@gmail.com
<h5>​Mr. Gulshan Kumar Sharma</h5>
Research Fellow, Malaviya National Institute of
Technology,Jawahar Lal Nehru Marg, Rajasthan, Jaipur-302017 INDIA
​<h5>Mr. Sameer Qureshi</h5>
PhD student, Department of Zoology, University of Rajasthan, Jaipur -
302004 INDIA
<h5>Ms. Kavita Joshi</h5>
PhD student, Department of Zoology, University of Rajasthan, Jaipur -
302004 INDIA
<hr>
<h3>RELEASED</h3>
 <h4>2023</h4>
 <hr>
<!-- <h3>REFERENCE FOR CITATION</h3>
 <h6>Gradinaru Teodora-Cristiana, Madalina Petran, Dorin Dragos, and Marilena Gilca. <br>
PlantMolecularTasteDB: A Database of Taste Active Phytochemicals. Frontiers in
Pharmacology 2022; 12:3804. doi: 10.3389/fphar.2021.751712
</h6> -->
</div>
<%- include("partials/footer"); -%>
