  <title>Download</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="downloadstyle.css">
<section id=download>
  <h1>Download GreenDock</h1>
    <form action="/download" method="post" class="dbbx">
      <button type="submit" id="downloadb" action="/download">download</button>
    </form>
</section>
<center>
<div class="main_cont">
  <h4><em>Welcom to GreenDock DB</em></h4>
  <p id="main_para">
    Database, Tools, Programming language and Library used to create GreenDock.</br>
HTML: Hypertext Markup Language is a markup language used for creating and structuring web pages.</br>
CSS: Cascading Style Sheets is a language used for describing the presentation of a document written in HTML or XML.</br>
Java: Java is a high-level, class-based, object-oriented programming language designed to have as few implementation dependencies as possible.</br>
Node.js: Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that executes JavaScript code outside of a web browser.</br>
Docker: Docker is a platform for building, shipping, and running distributed applications in containers.</br>
MongoDB: MongoDB is a cross-platform document-oriented database program that uses JSON-like documents with optional schemas.</br>
Python: Python is a high-level, interpreted programming language known for its simplicity, readability, and powerful libraries.</br>
RDKit: RDKit is a collection of cheminformatics and machine-learning tools written in C++ and Python.</br>
PubChem.py: PubChem.py is a Python library for accessing and working with chemical information from the PubChem database.</br>
PubChem: PubChem is an open chemistry database provided by the National Center for Biotechnology Information (NCBI) that contains information on chemical substances, including their structures, properties, and biological activities.
  </p>
</div>
</center>

