  <title>Download</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="downloadstyle.css">
<section id=download>
  <h1>Download GreenDock</h1>
    <form action="/download" method="post" class="dbbx">
      <button type="submit" id="downloadb" action="/download">download</button>
    </form>
</section>
<center>
  <hr>
  <div id="main_para">
    <h3>Database, Tools, Programming language and Library used to create GreenDock.</h3>
<b>HTML:</b> Hypertext Markup Language is a markup language used for creating and structuring web pages.</br>
<b>CSS:</b> Cascading Style Sheets is a language used for describing the presentation of a document written in HTML or XML.</br>
<b>Java:</b> Java is a high-level, class-based, object-oriented programming language designed to have as few implementation dependencies as possible.</br>
<b>Node.js:</b> Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that executes JavaScript code outside of a web browser.</br>
<b>Docker:</b> Docker is a platform for building, shipping, and running distributed applications in containers.</br>
<b>MongoDB:</b> MongoDB is a cross-platform document-oriented database program that uses JSON-like documents with optional schemas.</br>
<b>Python:</b> Python is a high-level, interpreted programming language known for its simplicity, readability, and powerful libraries.</br>
<b>RDKit:</b> RDKit is a collection of cheminformatics and machine-learning tools written in C++ and Python.</br>
<b>PubChem.py:</b> PubChem.py is a Python library for accessing and working with chemical information from the PubChem database.</br>
<b>PubChem:</b> PubChem is an open chemistry database provided by the National Center for Biotechnology Information (NCBI) that contains information on chemical substances, including their structures, properties, and biological activities.
</div>
</center>
<%- include("partials/footer"); -%>
