<title>GreenDock | Home</title>
<%- include("partials/header"); -%>
<link rel="icon" type="image/x-icon" href="/public/images/ecologism.png">
<link rel="stylesheet" href="homestyle.css">
<div class="main_containt">
<div class="main_cont">
  <h4><em>Welcome to GreenDockDB</em></h4>
  <p id="main_para">
    Our comprehensive database contains a vast array of information on phytochemicals,
    including their canonical SMILES, PubChemID, IUPAC name, ADME properties and a range
    of other data that can be useful in docking studies and other drug discovery efforts.
      At Greendockdb, we understand that the process of drug discovery can be complex and
    time-consuming. That's why we've designed our database to be user-friendly and easy to
    navigate, so you can quickly and easily find the information you need. Whether you're
    looking for information on individual phytochemicals or trying to identify potential
    drug targets, our database has everything you need to get started. 
  </p>
  <hr>
</div>
<div class="imgcont">
  <img class="tree-img" src="../images/tes3.png" alt="tree-image" />
</div>
</div>
<%- include("partials/footer"); -%>
