<title>PhytoChemDB |Search</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="searchstyle.css">


<section id="search">
  <div class="mainsearch">
    <h4 class="sr">Structure search</h4>
      <form action="/idresult" method="get">
        <div >
           <input type="search" class="form-control" name="smile" placeholder="enter the name here eg: O[C@H]1C[C@@H](OC(=O)C)[C@]23["> <br>
           <button class="big-button" type="submit">SEARCH</button>
         </div>
      </form>
    </div>

         <!-- <form action="/keywrdresult" class="srch" method="post">
           <div class="input-group ">
              <div class="input-group-text" id="btnGroupAddon">Molecular Formula</div>
              <input type="text" class="form-control" name="KEYWORD" placeholder="eg: C7H12O4" style>
              <button type="submit" name="button">Submit</button>
            </div>
         </form>

              <form action="/structureresult" class="srch" method="post">
                <div class="input-group ">
                   <div class="input-group-text" id="btnGroupAddon">Structure</div>
                   <input type="text" class="form-control" name="Structure" placeholder="eg: O=C(O)CCCCCC(=O)O" style>
                   <button type="submit" name="button">Submit</button>
                 </div>
               </form> -->
             </section>

<section id="para">
  <h4>Physiochemical Properties</h4>
  <hr>
  <form action="/para_search" class="" method="get">
    <label for="mol_wig" class="lbl">select the range of Molecular Weight to search from : </label>
    <input type="text" class="inp_para"  name="mol_wig">
    <label for="">to</label>
    <input type="text" class="inp_para" name="lessthan" value=""> <br>
    <label for="h_donor" class="lbl">Select desired number of Hydrogen Bond Donors :</label>
    <input type="text" class="inp_para" name="h_donor" value=""> <br>
    <label for="h_acceptor" class="lbl">Select desired number of Hydrogen Bond Acceptors :</label>
    <input type="text" class="inp_para" name="h_acceptor" value=""> <br>
    <label for="aro_ring" class="lbl">Select desired number Aromatic Rings :</label>
    <input type="text" class="inp_para" name="aro_ring" value=""> <br>
    <button type="submit" class="para-but" name="button">Submit</button>
  </form>
</section>


<%- include("partials/footer"); -%>
