body{
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
#search{
  margin: 80px 0;
}

.mainsearch{
    background-color: #BCE29E ;
    box-shadow: 8px 8px 16px 0 #9ddab6, 0 10px 40px 0 #9ddab6;
    border: 2px solid #4faa44;
    border-radius: 20px;
    padding: 3px 20px 20px;
    width: 60%;
    margin: auto;

}

.card-header-tabs .nav-link.active {
  color: #41644A;
  background-color:#d8f3ba;
  border: 2px solid #4faa44;
  border-bottom-color: #d8f3ba;
}
.card-header{
  background-color: #BCE29E;
  padding-left: 22.3%;
}
.nav-link.head{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: #449132;
  text-align: center;
  padding-bottom: 10px;
}
.card-body{
  border: 2px solid #4faa44;
  border-top-color: #d8f3ba;;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #d8f3ba;
}
.form-control{
  border-radius: 5px;
  margin: 20px 20px 10px;
  width: 96%;
  height: 27%;
}
h4{
  color: #449132;
  text-align: center;
  padding-bottom: 10px;
}

/* -----------button---------- */

button.big-button{
  cursor: pointer;
	 margin-bottom: 10px;
	 text-shadow: 0 -2px 0 #4a8a65, 0 1px 1px #c2dece;
	 box-sizing: border-box;
	 font-size: 1.5em;
	 font-family: Helvetica, Arial, Sans-Serif;
	 text-decoration: none;
	 font-weight: bold;
	 color: #5ea97d;
	 height: 55px;
	 line-height: 65px;
	 padding: 0 20px 20px;
	 display: inline-block;
	 width: auto;
	 background: linear-gradient(to bottom, #9ceabd 0%, #9ddab6 26%, #7fbb98 100%);
	 border-radius: 5px;
	 border-top: 1px solid #c8e2d3;
	 border-bottom: 1px solid #c2dece;
	 top: 0;
	 transition: all 0.06s ease-out;
	 position: relative;
}

button.big-button:hover {
  background: linear-gradient(to bottom, #baf1d1 0%, #b7e4ca 26%, #96c7ab 100%);
}
button.big-button:active {
	 top: 6px;
	 text-shadow: 0 -2px 0 #7fbb98, 0 1px 1px #c2dece, 0 0 4px white;
	 color: #fff;
}
 button.big-button:active:before {
	 top: 0;
	 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
}

/* -------------button---------- */

#para{
    margin: 50px 0;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.19) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 40px 40px;
    width: 30%;
    margin: 0 auto 60px;

}

input.inp_para {
  width: 50px;
}

.lbl{
  padding-bottom: 10px;
}

.para-but{
  margin: 5% 35% 0;
  background-color: #c2fbd7;
  border-radius: 5px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.para-but:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media screen and (max-width:1580px){
  .card-header{
    padding-left: 0;
    font-size: 0.5rem;
  }
}
@media screen and (max-width:1250px){
  .nav-link.head{
    font-size: 20px;
  }

  .form-control{
    margin: 20px auto;
  }
}
@media screen and (max-width:1024px){
  h4{
    font-size: 2rem;
  }
  .form-control{
    font-size: 1.5rem;
  }
  .card-body{
    border-top: 2px solid #4faa44;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .nav-link.head{
    font-size: 1.7rem;
  }
  .nav-link.head.active{
    border-bottom: 9px solid #4faa44;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;
  }
  .card-header-tabs{
    display: inline;
  }
  .nav-link{
    margin: 0;
  }
  #para{
    width: 60%;
    font-size: 1.5rem;
  }
  .para-but{
    font-size: 1.7rem;
  }
}
